html,body,ul{margin:0;padding:0;}
body{background-color: #181818;font-weight: 300;}

.swiper1{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	
}
/* .swiper-scrollbar-drag{
	background-color: #FFFFFF;
} */


#news{
	position: fixed;
	top: 23px;
	left: 74px;
	font-size: 12px;
	color: #999;
}
#news-attend{
	color: #fff;
}
#agency{
	position: fixed;
	top: 23px;
	right: 74px;
	font-size: 14px;
	color: #fff;
}
#line{
	position: absolute;
	top: 60px;
	background-color: rgba(102,102,102,0.5);
	width: 100%;
	height: 1px;
}
#logo{
	position: fixed;
	top: 80px;
	left: 74px;
}
#headtab{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 171px;
	background-color: rgba(0,0,0,0.5);
	z-index: 50;
}
.tab{
	list-style: none;
	font-size: 18px;
	font-weight: 300;
}
.tab-con{
	color: #FFFFFF;
	display: inline;
	margin-right: 40px;
}
.tab-con:hover {
  color: #007AFF;
}
#tab0{
	position: fixed;
	top: 80px;
	left: 383px;
}
#tab1{
	font-size: 20px;
	position: fixed;
	top: 121px;
	right: 184px;
}
#search{
	position: fixed;
	top: 118px;
	right: 74px;
}

.swiper2{
    width: 100%;
    height: 1070px;
} 
.swiper-pagination2{
	left: 900px;
	top: 860px;
}
/* .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.5;
}
.my-bullet-active{
  background: #ff6600;
  opacity: 1;
} */

#video{
	position: absolute;
	top: 40px;
	left: 215px;
	z-index: 30;
}

#green-board1,#green-board4,#green-board5{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #009B43;
	height: 100%;
	width: 319px;
}
#green-board2,#green-board3{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #009B43;
	width: 319px;
	height: 100%;
}

#title2,#title3,#title4,#title5{
	position: absolute;
	top: 220px;
	left: 102px;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
}
#title4,#title5{
	left: 1706px;
}
#title2-small,#title3-small,#title5-small{
	position: absolute;
	top: 353px;
	left: -71px;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	transform: rotate(90deg);
}
#title3-small{
	top: 298px;
	left: -16px;
}
#title4-small{
	position: absolute;
	top: 220px;
	left: 1664px;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
}
#title5-small{
	top: 318px;
	left: 1566px;
}

#p2img,#p4img,#p5img{
	position: absolute;
	top: 111px;
	left: 503px;
	width: 1233px;
	height: 726px;
}
#p4img{
	left: 184px;
	height: 712px;
}
#p5img{
	left: 184px;
	height: 724px;
}
#p3img1,#p3img2,#p3img3,#p3img4{
	position: absolute;
	top: 229px;
	left: 369px;
	width: 330px;
	height: 500px;
}
.name{
	position: absolute;
	top: 745px;
	font-size: 18px;
	color: #FFFFFF;
}
#name1{
	left: 389px;
}
#name2{
	left: 779px;
}
#name3{
	left: 1169px;
}
#name4{
	left: 1559px;
}
.lname{
	font-size: 14px;
	font-weight: 100;
}
#p3img2{
	left: 759px;
}
#p3img3{
	left: 1149px;
}
#p3img4{
	left: 1539px;
}

#link2,#link3,#link4,#link5{
	position: absolute;
	top: 847px;
	left: 1566px;
	font-size: 18px;
	color: #FFFFFF;
}
#link3{
	top: 833px;
}
#link4{
	top: 833px;
	left: 1265px;
}
#link5{
	top: 845px;
	left: 1193px;
}

.fastlink{
	position: absolute;
	top: 395px;
	list-style: none;
	color: #FFFFFF;
}
#fl1{
	left: 160px;
}
#fl2{
	left: 308px;
}
#fl3{
	left: 480px;
}
#fl4{
	left: 652px;
}
#fl5{
	left: 824px;
}
#fl6{
	left: 972px;
}
#fl7{
	left: 1168px;
}
#fl8{
	left: 1364px;
}
.title{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 400;
}
.con{
	font-size: 18px;
	margin-bottom: 12px;
}

#txt{
	position: absolute;
	top: 254px;
	left: 1100px;
	color: #FFFFFF;
	font-size: 24px;
}
#vx-wb-em{
	position: absolute;
	top: 240px;
	left: 1256px;
}

.fd-bottom{
	position: absolute;
	bottom: 50px;
	right: 74px;
	color: #666666;
	font-size: 12px;
}